@font-face {
    font-family: "batman font 1";
    src: url("gotham-nights-font/GothamNights-e49g.ttf") format('truetype');
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(100, 100, 100));
}
nav{
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
label.logo{
    color: rgba(245, 245, 245, 0.578);
    font-size: 35px;
    display: flex;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
nav ul{
    margin-right: 20px;
    justify-self: flex-end;
    
}
nav ul li{
    display: inline-block;
    line-height: 70px;

    
}
nav ul li a{
    display: flex;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    

}
a.active, a:hover{
    background-color: rgb(170, 170, 170);
}
hr{
    background-color: rgb(255, 0, 0);
}
.projects{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    /* height: 75vh; */
    flex-wrap: wrap;

    
    
}
.card{
    width: 250px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 2%;
    box-shadow: 0px 0px 15px black;

}
.card:hover{
    transform: rotateY(180deg);
}
.front, section, .gameplay{
    display: flex;
    justify-content: center;
    align-items: center;

}

.front{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: blue;
    color: yellow;
    border-radius: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
    background-size: cover; /* Scales the image to cover the element */
    

}
.front p{
    text-shadow: 2px 2px 5px black;
    
}
.back{
    position: absolute;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: inherit;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#batman-game{
    background: url("images/Main-menu-img.png");
}
.card-headings{
    margin-bottom: 10px;
    color: rgb(125, 99, 255);
}
.text{
    color: aliceblue;
}
.source-code{
    width: 200px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background-color: aquamarine;
    justify-content:flex-end;
    cursor: pointer;
    justify-self: flex-end;
    
}
.source-code-con{
    position: absolute;
    margin-top: 330px;
    
}
footer{
    height: 70px;
}
/* Batman Game page  */
#batman-game-info-body{
    background: linear-gradient(rgb(0, 0, 0), rgb(100, 100, 100));
    height: 100vh;
    color: azure;
    
}
#batman-game-info-body nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#batman-game-info-body nav a{
    margin: 10px;
    color: rgb(0, 206, 206);
}
#pizza-time-front{
    background-image: url('/images/icon.png'); /* Transparent PNG */
}
section{
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.8)), url("images/Main-menu-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#spideypedia-mobile-front{
    background-image: url('/images/spideypedia_mobile_emblem.png'); 
    background-position: center; 
    background-size: cover; /* Scales the image to cover the element */
}
.break{
    width: 1000px;
}
.gameplay{
    flex-direction: column;
    width: 1000px;
}
section h1{
    font-size:xx-large;
}
#batman-game-info-body h2, h3{
    font-family: "batman font 1";
    font-size: x-large;
    color: rgb(255, 255, 70);
    
}
.characters{
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}
.player-contorls{
    display: flex;

}
.controls-listed{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.character{
    width: 30%;
    display: flex;
    align-items: center; 
    flex-direction: column;
    /* padding:10px; */
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img img{
    margin-bottom: 15px;
}
#batman-img{
    margin-top: -20px;
}
.subheading{
    color: rgb(255, 255, 108);
}

#spideypedia-front{
    background-image: url('/images/header_bg.jpg'); /* Transparent PNG */
}
#pizza-time-front{
    background-color: rgba(242, 53, 53, 0.8); /* Colored background */
}
.card-title{
    color: yellow;
    -webkit-text-stroke: .5px black;

}
.technologies-used{
    display: flex;
    flex-direction: row;
    width: 100%;  
    flex-wrap: wrap;
    list-style:disc;
    
}
.backend, .frontend{
    width: 50%;
}
.last-commit{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.chat-button{
    position: fixed;
    right: -100px;
    bottom: 50px;
    z-index: 100;
    border-radius: 10px;
    padding: 20px;
    width: 120px;
    height: 100px;
    border: .5px solid rgb(146, 146, 146);
    color: rgb(40, 40, 40);
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px black;
    transition: .3s ease ;
    cursor: pointer;

}
.chat-button:hover{
    right: -10px;
    box-shadow: 0px 0px 10px rgb(158, 158, 158);
    border: .5px solid rgb(0, 0, 0);
    color: white;
}
.chat-button.close{
    right: -120px;
}
.chat{
    border-radius: 10px;
    position: fixed;
    color: white;
    bottom: 50px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 90;
    width: 300px;
    height: 350px;
    transition: .3s ease;
}
.chat.open{
    right: -300px;

}
.chat h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(104, 104, 104);
}
.chat-header{
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 0px 10px black;

}
.messages{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    gap: 7px;
    overflow:auto;

}
.reply-to-agent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    gap: 10px;
    background-color: black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 10px black;

}
.reply-to-agent button{
    background-color: rgb(122, 255, 255);
    border-radius: 10px;
    border: 0;
    padding: 5px;
}
input{
    border: 0;
    border-radius: 10px;
}
#close-chat{
    position: absolute;
    right: 0;
    top: 5px;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    border: 0;
    cursor: pointer;
}
.agent-message, .user-message{
    opacity: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    word-wrap: break-word;
    /* box-shadow: 0px 0px 10px black; */
    padding: 3px;
    max-width: 60%;
    transition: .3s ease;
    transform: translateY(30px);
    position: absolute;
}
.agent-message{
    background-color: rgb(0, 174, 255);
    align-self: flex-start;
}
.user-message{
    align-self: flex-end;
    background-color: grey;
}
.agent-message.push, .user-message.push{
    transform: translateY(0);
    opacity: 1;
    position: relative;
}
.contact-info{
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: rgba(180, 180, 180, 0.683);
    opacity: 0;
    transition: .2s ease;
    right: 10px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    text-shadow:1px 1px 0px rgb(113, 113, 113);
}
.contact-info li{
    padding: 5px;
    /* border: 1px solid white; */
}

.contact-info.open{
    opacity: 1;
    z-index: 100;
}