:root{
    --header-color:  rgb(255, 62, 62);
    --subheader-color: rgb(255, 255, 108);
    --highlighter-blue: rgb(122, 255, 255)
    
}
.home{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-title{
    color: var(--header-color);
    stroke-width: 10px;
    text-shadow: 1.5px 1.5px 0px rgb(0, 136, 178);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.home-contents {
  margin: 0 auto;      
  padding: 0 1rem;     
  max-width: 1000px;
  min-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 10px;    */
}
.home-text{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    word-wrap: break-word;
    /* color: rgb(115, 110, 208); */
}
.contacts-home{
    display: flex;
    gap: 10px;
}
.qualification-headers{
    display: flex;
    border-radius: 20px;

    justify-content: space-around;
    border: 5px solid black;
    cursor: pointer;
}
.qualification-header{
    border-radius: 10px;
    flex: 1;
    transition: .3s ease-in;
    align-items: center;
    margin: 5px;
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.qualification-header.clicked{
    background-color: black;
}
.qualification-content{
    /* border: 5px solid black; */
    padding: 10px;
    /* box-shadow: 0px 0px 10px black; */
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    /* background-color: rgb(0, 69, 138); */
    border-radius: 10px;
}
.edu-header{
    color: var(--header-color);
    text-shadow: 1px 1px 0px black;
    font-size: large;
}
.edu-time-frame{
    font-style: italic;
    font-size: smaller;
}

@media (min-width: 768px) {
  .home-contents {
    padding: 0 3rem;   
  }
}

@media (min-width: 1024px) {
  .home-contents {
    padding: 0 5rem;   
  }
}
.libraries-section{
    margin-left: 30px;
}
.libraries-section-header{
    font-size: large;
}
.skills-header{
    /* font-weight: bold; */
    color: var(--header-color);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    justify-self: center;
    align-self: center;
    /* background-color: aliceblue; */
}
#resume-button{
    background-color: rgb(87, 87, 87);
    padding: 5px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px black;
}
#resume-button:hover{
    background-color: grey;
}
#resume-button a{
    display: flex;
    align-items: center;
    justify-content: center;
}
#resume-button a:hover{
    background-color: rgba(240, 248, 255, 0);
}
#paper-img{
    width: 40px;    
}
.my-links button:hover{
    background-color: grey;
}
.my-links button{

    border-radius: 10px;
}
.my-links{
    display: flex;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    text-shadow: 0px 0px 5px black;
    

}
.skills-subheader{
    font-size: larger;
    color: var(--subheader-color);
}
.emblem{
    width: 30px;
}
#download-game-a{
    background-color: rgb(160, 21, 21);
    flex: 1;
    display: flex;
}
.tech-used{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    width: 100%;
}
.skill-block{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    width: max-content;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(103, 103, 103, 0.266);
    flex-wrap: wrap;
    max-width: fit-content;

}